.task-creationLog{
    cursor: pointer;
    display: flex;
    
    .person-bullet{
        width: 32px;
        height: 32px;
        margin: auto;
        position: relative;
        display: flex;
        margin: 0 -8px;
        left: 13%;
        top: 2px;

        img{
            border-radius: 50%;
            border: 2px solid #f5f6f8;
        }
    }

    p{
        margin: auto;
    }
}