
.task-label{
    height: 100%;
    &-display{
        height: 100%;
        display: flex;
        color:#fff ;
        justify-content: center;
        align-items: center;
        &:hover{
            opacity: 0.5;
        }
    }

    &:active{
        border: 1px solid blue;
    }


}