
.task-person{
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;

    .person-bullet-container{
        width: 100%;
        text-align: center;
        line-height: 0.5rem;

        .person-bullet-default{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: #f5f6f8 2px solid;
          
        }
    }
    

    .icon-dapulse-addbtn:before {
        position: absolute;
        content: "\f128";
        top: 25%;
        font-size: 14px;
        color: #0073ea;
        font-family: "dapulse";
        margin-left: 0.5rem;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        opacity: 0;
    }
    &:hover{
        .icon-dapulse-addbtn:before{
            opacity: 1;
        }
    }

    .bullets-container,.member-holder{
        margin: auto;
        display: flex;
        align-items: center;

        .person-bullet{
            width: 30px;
            height: 30px;
            position: relative;
            display: flex;
            margin: 0 -4px;
           
            img{
                border-radius: 50%;
                border: #f5f6f8 2px solid;
            }
        
        }

        span{
            display: flex;
            margin-left: 10px;
        }
    }
}

    .person-picker-view {
        position: absolute;
        top: 0;
        z-index: 100;
        background-color: #fff;
        color: #000;
        opacity: 1;
        padding: 1rem 1.5rem 0.5rem;
    }

    .person-picker-view {
        display: block;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        -o-transition: left 150ms cubic-bezier(0, 0, 0.35, 1);
        transition: left 150ms cubic-bezier(0, 0, 0.35, 1);
        box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
        font-size: 14px;
        transition: width .1s;
        pointer-events: all;
    
    }

    .person-picker-view:before,
    .person-picker-view:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    }

    .person-picker-view:before {
        left: 92px;
        border: 0.5rem solid transparent;
        border-bottom-color: #ddd;
    }

    .person-picker-view:after {
        left: 93px;
        border: 0.5rem solid transparent;
        border-bottom-color: #fff;
    }

    .person-picker-view{
    height: max-content;
    border-radius: 8px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-content:space-between;
    padding: 1rem 1.5rem;
    z-index: 300;

    .invite-new-members-btn{
        width: 320px;
        height: 32px;
        background-color: #0073ea;
        color: #fff;
        padding: 4px 8px;
        outline: none;
        border: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 15px;

        &:hover{
            background-color: #0060b9;
        }
    }

    h3{
        color: #676879;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .search-person-input-holder{
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;

        input.searchPerson-input{
            width: 100%;
            height: 32px;
            line-height: 22px;
            padding: 8px 24px 8px 16px;
            border: 1px solid #c3c6d4;
            border-radius: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 0 0 auto;
            display: flex;
            flex-grow: 1;
            padding: 0 4px;

            &::placeholder{
                color: #323338;
                font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;
            }

            &:hover{
                border: 1px solid #323338;
            }

            &:focus-within{
                border: 1px solid #0073ea;
                outline: none;
            }
        }
        .search-icon-holder{
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' width='16px' height='16px' aria-hidden='true' aria-label='Search' class='icon_component input-component__icon icon_component--no-focus-style'%3E%3Cpath d='M8.65191 2.37299C6.9706 2.37299 5.35814 3.04089 4.16927 4.22976C2.9804 5.41863 2.3125 7.03108 2.3125 8.7124C2.3125 10.3937 2.9804 12.0062 4.16927 13.195C5.35814 14.3839 6.9706 15.0518 8.65191 15.0518C10.0813 15.0518 11.4609 14.5691 12.5728 13.6939L16.4086 17.5303C16.7014 17.8232 17.1763 17.8232 17.4692 17.5303C17.7621 17.2375 17.7622 16.7626 17.4693 16.4697L13.6334 12.6333C14.5086 11.5214 14.9913 10.1418 14.9913 8.7124C14.9913 7.03108 14.3234 5.41863 13.1346 4.22976C11.9457 3.04089 10.3332 2.37299 8.65191 2.37299ZM12.091 12.1172C12.9878 11.2113 13.4913 9.98783 13.4913 8.7124C13.4913 7.42891 12.9815 6.19798 12.0739 5.29042C11.1663 4.38285 9.9354 3.87299 8.65191 3.87299C7.36842 3.87299 6.1375 4.38285 5.22993 5.29042C4.32237 6.19798 3.8125 7.42891 3.8125 8.7124C3.8125 9.99589 4.32237 11.2268 5.22993 12.1344C6.1375 13.0419 7.36842 13.5518 8.65191 13.5518C9.92736 13.5518 11.1509 13.0483 12.0568 12.1514C12.0623 12.1455 12.0679 12.1397 12.0737 12.134C12.0794 12.1283 12.0851 12.1227 12.091 12.1172Z' fill='currentColor' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
            display: flex;
            position: absolute;
            right: 10px;
            opacity: 1;
            cursor: pointer;
        }
    }
}

.member-holder{
    width: 100%;
    height: 24px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    align-content: center;


    &:hover{
        background-color: #dcdfec;
    }
}

.person-btn-container{
    display: flex;
}

.person-bullet-menu{
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    margin-left: 8px;
    
   
    img{
        border-radius: 50%;
        border: #f5f6f8 2px solid;
    }

}

.invite-person-view{
    width: 328px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .title-invite-holder{
        display: flex;
        width: 100%;
        font-size: 14px;
        height: 24px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #323338;
        font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;

    }

    .input-invite-holder{
        display: flex;
        width: 100%;
        margin-bottom: -7px;
        

        span{
            color: #323338;
            font-weight: 500;
            font-size: 14px;
            font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;
        }

        input{
            height: 32px;
            width: 310px;
            line-height: 22px;
            border: 1px solid #c3c6d4;
            border-radius: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 0 0 auto;
            display: flex;
            padding: 0 4px;
            
            

            &::placeholder{
                color: #565656;
                font-size: 14px;
                font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;
            }

            &:hover{
                border: 1px solid #323338;
            }

            &:focus-within{
                border: 1px solid #0073ea;
                outline: none;
            }
        }
    }

    .invite-btns-holder{
        display: flex;
        width: 100%;
        justify-content: end;
        margin-top: 16px;
        padding-right: 10px;

        button{
            width: 58.6094px;
            height: 32px;
            margin-right: 8px;
            color:#323338;
            background-color: rgba(0,0,0,0);
            outline: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-family: Roboto,Rubik,Noto Kufi Arabic,Noto Sans JP,sans-serif;
            font-size: 14px;

            &:hover{

                background-color:#dcdfec;
            }
        }
    }
}

.members-to-remove-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    .memebers-to-remove-holder{

        align-items: center;
        align-content: center;
        display: flex;
        border: 1px solid #f7f7f7;
        color: #333;
        border-radius: 24px;
        font-size: 12px;
        font-weight: 400;
        height: 22px;
        max-width: max-content;
        min-width:fit-content;
        background-color: #e5f4ff;
        margin: 4px;

        .person-bullet-mini{
            display: flex;
            border-radius: 50%;
            border: 2px solid #fff;
            height: 22px;
            width: 22px;
            margin-right: 4px;
        }

        .remove-btn-holder{
            width: 16px;
            height: 16px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 4px;
            margin-right: 2px;
            border-radius: 100%;
            display: flex;
            color: #333;

            .remove-person-btn::before{
                content: "\f22c";
                font-family: "dapulse";
                font-size: 8px;
            }
        }

        
    }
}