.task-text{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100%;
    background-color: inherit;

    &:hover{
   
            content: "\f128";
            font-size: 14px;
            color: #0073ea;
            font-family: "dapulse";
        
    }

    &:focus-within{
        border: 1px solid #0073ea;
    }

    .input-container{
        height: 80%;
        width: 95%;
        position: relative;
        &:hover{
            border: 1px solid #c3c6d4;
        }

        .location-input{
            border: none;
            outline: none;
            width: 100%;
            position: absolute;
            right: 0;
            text-align: center;
            background-color: inherit;
            height: 80%;
            top: 3px;

    
            &:hover {
                box-shadow: 0 0 0 1px var(--el-input-hover-border-color) inset !important;
            } 

            &:focus-visible{
                background-color: #fff;
                border: 1px solid #c3c6d4;
            }
        }
    }
}


