* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $--font-family;
}

h4{
    text-decoration: none;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#b2b2b2; 
    width: 10px;
    // border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#b2b2b2; 
  }