@media (max-width: 720px) {

    #app {

        .application-layers {
            .surface {
                display: none;
            }

            .first-level-control {
                display: none;
            }

            .first-level {
                left: 0px;

                .first-level-content-wrapper {
                    margin-left: 0px;

                    .board-title-input {
                        font-size: 24px;
                    }

                    .main-header {
                        padding-left: 0.5rem;
                        margin-right: 0px;

                        .user-select-menu {
                            left: -100px;
                        }

                        .i-btn,
                        .star-btn,
                        .invite-btn,
                        .add-board-entity-button-wrapper,
                        .person-filter-component {
                            display: none;
                        }
                    }

                }
            }
        }

        .board-content {
            padding-left: 0.5rem;

            &-group {
                .group-title-action {
                    width: 180px;
                }

                &-row {
                    grid-template-columns: 180px repeat(auto-fill, minmax(140px, 160px));

                    &-header {
                        grid-template-columns: 180px repeat(auto-fill, minmax(140px, 160px));

                    }

                    &-add-item {
                        grid-template-columns: 180px repeat(auto-fill, minmax(140px, 160px));
                    }

                    &-footer {
                        grid-template-columns: 180px repeat(auto-fill, minmax(140px, 160px));

                        .board-content-group-row-footer-corner {
                            left: 180px;
                        }
                    }

                    .task-item {
                        .item-select {
                            margin-right: 8px;
                        }

                        .item-conversation {
                            display: none;
                        }
                    }
                }

            }
        }

        .dashboard-content {
            display: flex;
            flex-direction: column;

            .member-name {
                font-size: 14px;
            }
        }

        .map-page {
            display: flex;
            flex-direction: column;
        }

        .cards-holder {
            justify-content: center;
        }
    }



    .kanbn-view {
        grid-template-columns: 1fr !important;
    }

    .kanbn-view-menu {
        position: absolute;
        height: 100%;
        background: #fff;
        right: 0;
        right: -250px;
        transition: 0.5s;
    }

    .home-page .header-line {
        font-size: 35px !important;
        line-height: 1 !important;
    }


    .home-page .home-img {
        display: none;
    }

    .home-page .first-layout {
        height: 100vh !important;
    }

}