//MIXINS
@mixin fixed-col-style {
    background-color:inherit;
    // opacity: 0.98;
    position: sticky;
    left: 0px;
    z-index: 15;
}

@mixin col-span-style {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@mixin color-border($clr) {
    border-inline-start: 6px solid $clr;
}

@mixin checkbox-style {
    .checkbox {
        cursor: pointer;
        height: 1rem;
        width: 1rem;
        border: 1px solid $--ui-border-color;
        border-radius: 2px;
        

        &:hover {

            border-color: #67697a;
        }

        &-selected {

            height: 1rem;
            width: 1rem;
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' width='14' height='14' aria-hidden='true' class='icon_component monday-style-checkbox__icon icon_component--no-focus-style'%3E%3Cpath d='M8.53033 14.2478L8 13.7175L7.46967 14.2478C7.76256 14.5407 8.23744 14.5407 8.53033 14.2478ZM8 12.6569L4.53033 9.18718C4.23744 8.89429 3.76256 8.89429 3.46967 9.18718C3.17678 9.48008 3.17678 9.95495 3.46967 10.2478L7.46967 14.2478L8 13.7175L8.53033 14.2478L16.2478 6.53033C16.5407 6.23743 16.5407 5.76256 16.2478 5.46967C15.955 5.17677 15.4801 5.17677 15.1872 5.46967L8 12.6569Z' fill='white' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
            background-color: $--primary-color;
            border-color: $--primary-color;
            border-radius: 2px;

            &:hover {

                background-color: $--primary-hover-color;
            }
        }
    }
}


%selection-menu-btn{
    width: fit-content;
    height: 100%;
    margin-inline-end: 20px;
    cursor: pointer;
}

%selection-menu-btn-icon-holder{
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

%selection-menu-btn--title{
    height: 19px;
    font-size: 13px;
    font-weight: 400;
}

@mixin selection-menu-btn-style{
    @extend %selection-menu-btn;
    &-icon-holder{
        @extend %selection-menu-btn-icon-holder; 
    }
    &-icon{
        height: 27px;
    }
    &-title{
       @extend %selection-menu-btn--title;
    }
}