// EXTEND
%row-style {
    display: grid;
    grid-template-rows: 2.25rem;
    grid-template-columns: 400px repeat(auto-fill, minmax(140px, 160px));
    grid-auto-flow: column;
    grid-auto-columns: minmax(140px, 160px);
    border-bottom: $--border-style;
    min-width: fit-content;
    background-color: rgba(254, 254, 254, 1);
    position: relative;
}

%col-style {
    border-inline-end: $--border-style;

}

.board-content-group {
    margin-bottom: 1.5rem;

    &.collapseGroup {
        margin-bottom: 1rem;
        box-shadow: $--box-shadow-xs;
        border-radius: 4px;
        height: 59px;

        .board-content-group-row-footer {

            .footer-col {
                box-shadow: none;
                border-bottom: none;
            }

        }
        .group-header-menu{
            display: none;
        }
        .row-menu {
            display: none;
        }

        .group-header-border-color {
            display: block;
        }
        .background-hider{
            display: block;
        }
        .group-title-action{
            border-inline-end:1px solid #d0d4e4;
        }
        .footer-col{
            &:nth-of-type(1){
                border: none;
            }
        }
    }
}

// BOARD
.board-content {
    overflow-x:auto;
    position: relative;
    // margin-left: 2.25rem;
    padding-left: 2.25rem;
    height: calc(100vh - 166px);


    &-group {
        margin-right: 15px;
        padding: 5px 0px 0px 0px;
        font-size: 14px;

        &-row {
            @extend %row-style;

            &:hover {
                z-index: 10;
                background-color: #f6f6f8;
                box-shadow: $--box-shadow-xs;

                .row-menu-icon {
                    opacity: 1;
                }

                .task-lighten {
                    opacity: 60%;
                    cursor: pointer;
                }
            }

            &.selected-row {
                background-color: #cbe5ff;
            }

            .col {
                @extend %col-style;

                &.fixed {
                    @include fixed-col-style;
                    @include color-border(white);
                }
            }

            &-header {

                @extend %row-style;
                border-top: $--border-style;
                border-top-left-radius: 4px;

                &:hover {
                    .row-menu-icon {
                        opacity: 1;
                    }

                }

                .header-col {
                    @extend %col-style;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: capitalize;
                    color: $--secondary-text-color;

                    &.fixed {
                        justify-content: flex-start;
                        border-top-left-radius: 4px;
                        @include fixed-col-style;
                        @include color-border(white);
                    }

                    .header-title {
                        @include col-span-style;
                    }
                    &:hover{
                        
                        &:not(:first-of-type){
                            cursor: grab;
                            background-color: #f5f6f8;
                        }
                    }
                }
            }

            &-add-item {

                @extend %row-style;
                border-bottom-left-radius: 4px;
                border-bottom: $--border-style;


                .add-item-col {
                    @extend %col-style;
                    display: flex;
                    align-items: center;
                    border-inline-end: none;

                    &.fixed {
                        @include fixed-col-style;
                        @include color-border(white);
                        border-bottom-left-radius: 4px;

                    }
                }
            }


            &-footer {
                @extend %row-style;
                border-bottom: none;
                position: relative;

                .footer-col {
                    @extend %col-style;
                    
                    &:not(:first-child) {
                        border-bottom: $--border-style;
                        box-shadow: $--board-elevation;
                    }

                    &.fixed {
                        border: none;
                        background-color: rgba(254, 254, 254, 1);
                        position: sticky;
                        left: 0px;
                        box-shadow: 0px 2px 0px white;
                        border-inline-end: $--border-style;
                        // border-bottom-right-radius: 50%;

                    }

                    &:nth-child(2) {
                        // border-inline-start: $--border-style;
                        border-bottom-left-radius: 4px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 4px;
                    }

                    .task-item{
                        .row-menu{
                        
                            background-color: white;
                            left: -2.25rem;
                            width: 38px;
                        }
                    }
                }

            }

        }
    }


}

.board-actions-menu {
    background-color: $--secondary-background-color;
    box-shadow: $--box-shadow-large;
    min-width: 400px;
    height: 63px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 56px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 100;

    &-selected-items {
        height: 100%;
        display: flex;

        &-counter {
            width: 63px;
            background-color: #0174ea;
            height: 100%;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 30px;
        }

        &-title {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;

            .selected-items-title {
                font-weight: 100;
                height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 24px;
                line-height: 36px;
                vertical-align: center;
            }

            .dots {
                display: flex;
                align-items: center;
                height: 20px;

                .dot {
                    height: 7px;
                    width: 7px;
                    border-radius: 50%;
                    margin-right: 4px;
                    background-color: #0174ea;
                }
            }
        }
    }

    &-btns {
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: flex-end;

        .remove-tasks {
            order: 1;
            @include selection-menu-btn-style;

            &-icon {
                content: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Layer_3' data-name='Layer 3'%3E%3Cpath d='m28 7.192h-7.346v-3.192a.5.5 0 0 0 -.5-.5h-8.308a.5.5 0 0 0 -.5.5v3.192h-7.346a.5.5 0 0 0 0 1h3.192v17.962a2.35 2.35 0 0 0 2.347 2.346h12.923a2.349 2.349 0 0 0 2.346-2.346v-17.962h3.192a.5.5 0 0 0 0-1zm-15.654-2.692h7.308v2.692h-7.308zm11.462 21.654a1.348 1.348 0 0 1 -1.346 1.346h-12.923a1.348 1.348 0 0 1 -1.347-1.346v-17.962h15.616zm-11.462-13.846v12a.5.5 0 0 1 -1 0v-12a.5.5 0 0 1 1 0zm4.154 0v12a.5.5 0 0 1 -1 0v-12a.5.5 0 0 1 1 0zm3.654-.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1 -1 0v-12a.5.5 0 0 1 .5-.5z'/%3E%3C/g%3E%3C/svg%3E");

                &:hover {
                    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='%230174ea' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Layer_3' data-name='Layer 3'%3E%3Cpath d='m28 7.192h-7.346v-3.192a.5.5 0 0 0 -.5-.5h-8.308a.5.5 0 0 0 -.5.5v3.192h-7.346a.5.5 0 0 0 0 1h3.192v17.962a2.35 2.35 0 0 0 2.347 2.346h12.923a2.349 2.349 0 0 0 2.346-2.346v-17.962h3.192a.5.5 0 0 0 0-1zm-15.654-2.692h7.308v2.692h-7.308zm11.462 21.654a1.348 1.348 0 0 1 -1.346 1.346h-12.923a1.348 1.348 0 0 1 -1.347-1.346v-17.962h15.616zm-11.462-13.846v12a.5.5 0 0 1 -1 0v-12a.5.5 0 0 1 1 0zm4.154 0v12a.5.5 0 0 1 -1 0v-12a.5.5 0 0 1 1 0zm3.654-.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1 -1 0v-12a.5.5 0 0 1 .5-.5z'/%3E%3C/g%3E%3C/svg%3E");
                }
            }
        }

        .duplicate-tasks {

            @include selection-menu-btn-style;

            &-icon {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' data-name='Layer 2' viewBox='0 0 100 100'%3E%3Cpath d='M87.45,25.56a2.52,2.52,0,0,0-.71-1.32L67.7,5.71A2.57,2.57,0,0,0,66,5H30a2.5,2.5,0,0,0-2.5,2.5V20H15a2.5,2.5,0,0,0-2.5,2.5v70A2.5,2.5,0,0,0,15,95H70a2.5,2.5,0,0,0,2.5-2.5V80H85a2.5,2.5,0,0,0,2.5-2.5V26A2.42,2.42,0,0,0,87.45,25.56Zm-19-12.14L78.85,23.53H68.46ZM67.5,90h-50V25h10V77.5A2.5,2.5,0,0,0,30,80H67.5ZM70,75H32.5V10h31V26a2.5,2.5,0,0,0,2.5,2.5H82.5V75Z'/%3E%3C/svg%3E%0A");

                &:hover {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_2' data-name='Layer 2' viewBox='0 0 100 100'%0Afill='%230174ea'%0A%3E%3Cpath d='M87.45,25.56a2.52,2.52,0,0,0-.71-1.32L67.7,5.71A2.57,2.57,0,0,0,66,5H30a2.5,2.5,0,0,0-2.5,2.5V20H15a2.5,2.5,0,0,0-2.5,2.5v70A2.5,2.5,0,0,0,15,95H70a2.5,2.5,0,0,0,2.5-2.5V80H85a2.5,2.5,0,0,0,2.5-2.5V26A2.42,2.42,0,0,0,87.45,25.56Zm-19-12.14L78.85,23.53H68.46ZM67.5,90h-50V25h10V77.5A2.5,2.5,0,0,0,30,80H67.5ZM70,75H32.5V10h31V26a2.5,2.5,0,0,0,2.5,2.5H82.5V75Z'/%3E%3C/svg%3E%0A");
                }
            }

        }
    }

    &-close {
        width: 63px;
        height: 63px;
        border-left: 2px solid;
        border-left-color: $--ui-border-color;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
            height: 16px;
            content: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 513.552 513.552' style='enable-background:new 0 0 513.552 513.552;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M510.132,489.755c-0.476-0.556-0.995-1.075-1.552-1.552L276.9,256.382l231.822-231.68c5.577-5.577,5.577-14.619,0-20.196 c-5.577-5.577-14.619-5.577-20.196,0l-231.68,231.822L25.167,4.506c-5.577-5.577-14.619-5.577-20.196,0s-5.577,14.619,0,20.196 l231.822,231.68L4.972,488.062c-5.966,5.109-6.661,14.087-1.552,20.053c5.109,5.966,14.087,6.661,20.053,1.552 c0.556-0.476,1.075-0.995,1.552-1.552l231.822-231.68l231.68,231.822c5.109,5.966,14.087,6.661,20.053,1.552 C514.546,504.699,515.241,495.721,510.132,489.755z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
        }
    }
}