.add-group{
    &-btn{
        position: sticky;
        left: 0px;
        font-family: $--font-family;
        width: 8.5rem;
        height: 2rem;
        display: flex;
        align-items: center;
        color: $--primary-text-color;
        background-color: #fff;
        border-radius: 0.25rem;
        border: 1px solid;
        border-color: #e6e9ef;
        cursor: pointer;
        transition: 50ms transform,.1scubic-bezier(0, 0, 0.35, 1) min-width;
        margin-block-end: 2.5rem;
        &:hover{
            background-color: #dddfec;
        }

        &:active{
            transform: scale(0.95) translate3d(0, 0, 0);
        }
    }
    &-txt{
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
    &-icon{
        height: 0.775rem;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' width='24' height='24' aria-hidden='true' class='icon_component monday-style-button--left-icon icon_component--no-focus-style'%3E%3Cpath d='M10.75 3C10.75 2.58579 10.4142 2.25 10 2.25C9.58579 2.25 9.25 2.58579 9.25 3V9.25H3C2.58579 9.25 2.25 9.58579 2.25 10C2.25 10.4142 2.58579 10.75 3 10.75H9.25V17C9.25 17.4142 9.58579 17.75 10 17.75C10.4142 17.75 10.75 17.4142 10.75 17V10.75H17C17.4142 10.75 17.75 10.4142 17.75 10C17.75 9.58579 17.4142 9.25 17 9.25H10.75V3Z' fill='%2398999b' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    
    }
    &-icon-holder{
        height: 1.31rem;
        width: 1.31rem;
        padding-right: 0.5rem;
        display: flex;
        align-items: center;
        
    }
}