.group-header {
    position: sticky;
    left: 2.25rem;
    &-menu {
        position: absolute;
        display: flex;
        height: 40px;
        width: 34px;
        left: -2.25rem;
        align-items: center;
        justify-content: center;

        &-icon {
            position: absolute;
            height: 24px;
            width: 24px;
            padding: 1px;
            border-radius: 4px;

            opacity: 0;
            content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 10.5C6 11.3284 5.32843 12 4.5 12C3.67157 12 3 11.3284 3 10.5C3 9.67157 3.67157 9 4.5 9C5.32843 9 6 9.67157 6 10.5Z' fill='currentColor'/%3E%3Cpath d='M11.8333 10.5C11.8333 11.3284 11.1618 12 10.3333 12C9.50492 12 8.83334 11.3284 8.83334 10.5C8.83334 9.67157 9.50492 9 10.3333 9C11.1618 9 11.8333 9.67157 11.8333 10.5Z' fill='currentColor'/%3E%3Cpath d='M17.6667 10.5C17.6667 11.3284 16.9951 12 16.1667 12C15.3383 12 14.6667 11.3284 14.6667 10.5C14.6667 9.67157 15.3383 9 16.1667 9C16.9951 9 17.6667 9.67157 17.6667 10.5Z' fill='currentColor'/%3E%3C/svg%3E%0A");
            transition: all .2s;
            cursor: pointer;

            &:hover {
                opacity: 1;
                background-color: #dcdfec;
            }
        }
    }

    &-border-color {
        display: none;
        height: 59px;
        width: 7px;
        background-color: white;
        position: absolute;
        left: 0;
        border-radius: 4px 0 0 4px;
    }
}

.color-indicator-gh{
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    position: absolute;
    left: 2.4rem;
}


.isColapse{
    .group-header-title {
        padding-inline-start: 0px;
    }
    .color-indicator-gh{
        display: none;
    }

}
.group-header-color-menu{
    background-color: white;
    width: 180px;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    border: 1px $--ui-border-color solid ;
    border-radius: 4px;
    position: absolute;
    top: 1.95rem;
    left: -0.3rem;

    .color-option{
        height: 24px;
        width: 24px;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            outline: 3px #c3c6d4 solid;
        }
    }
}