.application-layers .first-level {
    position: absolute;
    background-color: $--primary-background-color;
    color: $--primary-text-color;
    font-size: 0.875rem;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    left: 66px;
    // -webkit-transition: left 150ms cubic-bezier(0, 0, 0.35, 1);
    -o-transition: left 150ms cubic-bezier(0, 0, 0.35, 1);
    transition: left 150ms cubic-bezier(0, 0, 0.35, 1);
    overflow: hidden;
}

.first-level-control-component {
    animation-name: slideInFromLeft;
    animation-duration: .1s;
    animation-timing-function: cubic-bezier(0, 0, 0.35, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    display: flex;
    height: 100%;
    position: absolute;
    border-right: 1px solid;
    border-color: $--layout-border-color;
    z-index: 1000001;
    width: 1.875rem;
    transition: width .1s cubic-bezier(0, 0, 0.35, 1);
    color: $--primary-text-color;
    background-color: $--dark-background-color;

    .first-level-control-content {
        height: 100%;
        width: 100%;
        opacity: 0;
        overflow: hidden;
        transition: opacity 100ms ease;
    }

    &.is-expanded {
        width: 255px;

        .first-level-control-content {
            opacity: 1;
            display: flex;
            flex-direction: column;
        }
    }
}

.home-control {
    &-component {
        display: flex;
        flex-direction: column;
        height: 100%;
        // -webkit-user-select: none;
        user-select: none;
        width: 100%;
        overflow-x: hidden;
    }

    &-top-header-component {
        font-size: 14px;
        font-weight: 400;
        color: $--placeholder-on-secondary-color;

        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 12px 16px 18px 16px;
        // height: 68px;
    }
}

.home-workspace {
    &-items-title-component {
        width: 100%;
    }

    &-dropdown-button {
        display: flex;
        align-items: center;
        padding: 6px;
        border-radius: 4px;
        margin-right: 4px;
        border: 1px solid;
        border-color: $--icon-color;
    }

    &-items-content-sub-header-wrapper {
        padding: 0 1rem 1rem 0.875rem;
    }
}

.menu-button-container {
    width: 100%;
}

.dropdown-navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 4px;
}

.top-new-button-component .menu-button--wrapper {
    justify-content: start;
    padding-left: 6px;
}

.menu-button--wrapper--text {
    width: 100%;

}

.home-workspace-items-component .title-wrapper {
    z-index: 1;
    box-shadow: 0px 12px 13px -7px $--dark-background-color;
}

.home-workspace-items-title-component .spacer {
    border-bottom: 1px solid;
    border-color: $--layout-border-color;
    margin: 0 20px;
}

.first-level-content-wrapper {
    &.-unpinned {
        margin-left: 30px;
    }

    &.-pinned {
        margin-left: 255px;
    }

}

.collapse-first-leve-button-component.is-pinned {
    right: -14px;
}

.collapse-first-leve-button-component {
    border: 1px solid;
    border-color: $--layout-border-color;
    border-radius: 20px;
    background-color: $--primary-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px 9px;
    position: absolute;
    top: 20px;
    z-index: 100;
    transition: background-color 100ms ease, padding-left 100ms ease, padding-right 100ms ease, border-color 100ms ease, color 100ms ease;
    animation-name: slideInFromLeft;
    animation-duration: .15s;
    animation-timing-function: cubic-bezier(0, 0, 0.35, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.collapse-first-leve-button-component.is-pinned .collapse-icon {
    transform: rotate(-180deg);
}

.collapse-first-leve-button-component .collapse-icon {
    font-size: 1rem;
    transition: transform 100ms ease;
}

.workspace-dropdown-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    margin-right: 4px;
    border: 1px solid;
    border-color: $--icon-color
}

.fa-angle-right:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z'/%3E%3C/svg%3E");
    // content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z'/%3E%3C/svg%3E");
}

.collapse-first-leve-button-component:not(.is-pinned) {
    left: calc(100% - 14px);
}