.modalCmp {
    background-color: #fff;
    // width: fit-content;
    position: absolute;
    // height: fit-content;
    z-index: 9999;
    padding: 0.5rem;
    transition: all 50ms ease-in;
    transition-property: opacity, width;
    box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
    border-radius: 4px;


    span{

        display: block;
        padding: 0.5rem 1rem;
        background-color: rgba(209, 209, 209, 0.2);
        border-radius: 4px;
        cursor: pointer;
        transition: all .5s;
        &:hover{
            background-color: rgba(209, 209, 209, 0.6);
        }
    }
}